---
layout: base.njk
title: 研究頁已搬家
permalink: /research.html
---
<div class="page-intro"><p class="eyebrow">RESEARCH</p><h1>研究筆記有了新的整理方式。</h1><p class="lead">現在可以依研究主題瀏覽文章，或查看過往的研究經驗。</p><div class="hero-actions"><a class="button" href="{{ '/research/' | url }}">研究主題</a><a href="{{ '/research-experience/' | url }}">過往研究經驗</a></div></div>
